falck-eun-adf-dev/PartialArmTemplates/ArmTemplate_8_6_2020_19_57_32.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "falck-eun-adf-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Customers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load Customer data",
				"activities": [
					{
						"name": "Load Customers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Customer Key",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "WWI Customer ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "WWI Customer ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Customer",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Bill To Customer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Bill To Customer",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Buying Group",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buying Group",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Primary Contact",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Primary Contact",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Postal Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Valid From",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "Valid From",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Valid To",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "Valid To",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Lineage Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Lineage Key",
											"type": "Int32"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sqlCustomers",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "blobCustomers",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Save Customers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "output",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blobCustomers",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "azureCustomers",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azureCustomers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azureCustomers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureImporters",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Customer Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWI Customer ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer",
						"type": "nvarchar"
					},
					{
						"name": "Bill To Customer",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "Buying Group",
						"type": "nvarchar"
					},
					{
						"name": "Primary Contact",
						"type": "nvarchar"
					},
					{
						"name": "Postal Code",
						"type": "nvarchar"
					},
					{
						"name": "Valid From",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Valid To",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Lineage Key",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Dimension",
					"table": "Customer"
				}
			},
			"dependsOn": []
		}
	]
}