falck-eun-adf-dev/PartialArmTemplates/ArmTemplate_8_6_2020_20_12_52.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "falck-eun-adf-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Sales",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "PhysicalPartitionsOfTable"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 10,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Sale Key",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "Sale Key",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "City Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "City Key",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Customer Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Customer Key",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Bill To Customer Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Bill To Customer Key",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Stock Item Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Stock Item Key",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Invoice Date Key",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Invoice Date Key",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Delivery Date Key",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Delivery Date Key",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Salesperson Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Salesperson Key",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "WWI Invoice ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "WWI Invoice ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Package",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Package",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Unit Price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Tax Rate",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Tax Rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Total Excluding Tax",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Total Excluding Tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Tax Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Tax Amount",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Profit",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Profit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Total Including Tax",
											"type": "Decimal",
											"physicalType": "decimal"
										},
										"sink": {
											"name": "Total Including Tax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Total Dry Items",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Total Dry Items",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Total Chiller Items",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Total Chiller Items",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Lineage Key",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Lineage Key",
											"type": "Int32"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sqlSales",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "blobSales",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Save Sales",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "output",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "blobSales",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "azureSales",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sqlSales')]",
				"[concat(variables('factoryId'), '/datasets/blobSales')]",
				"[concat(variables('factoryId'), '/datasets/azureSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LocalSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Sale Key",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "City Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill To Customer Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Stock Item Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Invoice Date Key",
						"type": "date"
					},
					{
						"name": "Delivery Date Key",
						"type": "date"
					},
					{
						"name": "Salesperson Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWI Invoice ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "Package",
						"type": "nvarchar"
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Unit Price",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Tax Rate",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "Total Excluding Tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Tax Amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Profit",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Total Including Tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Total Dry Items",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Total Chiller Items",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Lineage Key",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Fact",
					"table": "Sale"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "sales"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azureSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureImporters",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Sale Key",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "City Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill To Customer Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Stock Item Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Invoice Date Key",
						"type": "date"
					},
					{
						"name": "Delivery Date Key",
						"type": "date"
					},
					{
						"name": "Salesperson Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWI Invoice ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "Package",
						"type": "nvarchar"
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Unit Price",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Tax Rate",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "Total Excluding Tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Tax Amount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Profit",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Total Including Tax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Total Dry Items",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Total Chiller Items",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Lineage Key",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Fact",
					"table": "Sale"
				}
			},
			"dependsOn": []
		}
	]
}